body{
    background-color: rgb(0, 225, 255);
}
h1{
    color: rgb(255, 0, 0);
}


#col{
    position: relative;
    background-color: red;
    height:300px;
    width: 300px;
    
}
#bol{
    position: absolute;
    background-color: burlywood;
    height: 100px;
    width: 100px;
    right: 100px;
    bottom: 100px;
}
#button:hover{
    background-color: rgb(139, 46, 46);
   
}
#button:focus{
    background-color: springgreen;
}

